<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
    {% block files %}{% endblock %}
</head>
<body>
{% csrf_token %}
<div id="nav-bar">
<div id="profile_image">
	<input id="user-name" value="{{ user.name }}" hidden>
	<input id="user-avatar" value="{{ user.avatar.url }}" hidden>
	<a href="/profile/{{ user.name }}" target="_blank">
            <img id="user-avatar" src="{{ user.avatar }}">
        </a>
</div>
</div>
<div id="page-container" class="center">
    {% block content %}{% endblock %}
</div>
</body>
</html>